In [2]:
import pandas as pd

In [25]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
sub = pd.read_csv('./data/sample_submission.csv')

In [5]:
job_code = pd.read_excel('./data/직업코드표.xlsx')

In [6]:
job_code

      직무 상위 코드    직무명  직무 코드  직무 키워드명
0           16  기획·전략   2205       기획
1           16  기획·전략   2225     경영관리
2           16  기획·전략   1652     경영분석
3           16  기획·전략   1624     게임기획
4           16  기획·전략   1625     경영기획
...        ...    ...    ...      ...
2149        20  공공·복지   1947   청소년지도사
2150        20  공공·복지   1948     특수교사
2151        20  공공·복지   1949    활동지원사
2152        20  공공·복지   1950  감각통합치료사
2153        20  공공·복지   1951    언어치료사

[2154 rows x 4 columns]

In [9]:
job_dict = {}
for i in range(2154):
    job_dict[job_code['직무 코드'][i]] = job_code['직무 키워드명'][i]

In [10]:
job_dict

{2205: '기획',
 2225: '경영관리',
 1652: '경영분석',
 1624: '게임기획',
 1625: '경영기획',
 1653: '경영컨설팅',
 1654: '경영혁신(PI)',
 1626: '광고기획',
 1627: '교육기획',
 1655: '금융컨설팅',
 1656: '레벨디자인',
 1628: '기술기획',
 1657: '리서치',
 1629: '마케팅기획',
 1658: '데이터분석',
 1630: '문화기획',
 1659: '사업개발',
 1631: '법인장',
 1632: '브랜드기획',
 1660: '사업관리',
 1661: '사업제휴',
 1633: '사업기획',
 1634: '상품기획',
 1662: '스토리보드',
 1663: '시장조사',
 1635: '서비스기획',
 1636: '앱기획',
 1664: '신사업기획',
 1665: '신사업발굴',
 1637: '웹기획',
 1666: '실적관리',
 1638: '인사기획',
 1667: '엑셀러레이팅',
 1639: '전략기획',
 1668: '예산관리',
 1640: '지점관리자',
 1641: '출판기획',
 1669: '인큐베이팅',
 1670: '자료조사',
 1642: '컨설턴트',
 1643: '행사기획',
 1671: '조직관리',
 1672: '지속가능경영',
 1644: 'CEO',
 1673: '창업컨설팅',
 1645: 'COO',
 1674: '타당성검토',
 1646: 'CTO',
 1675: '투자전략',
 1647: 'IT컨설팅',
 1648: 'PL(프로젝트리더)',
 1676: '트렌드분석',
 1677: '프로토타이핑',
 1649: 'PM(프로젝트매니저)',
 1650: 'PMO',
 1678: '해외법인관리',
 1679: 'BPR',
 1651: 'PO(프로덕트오너)',
 1680: 'BSC',
 1681: 'CSR',
 1682: 'ESG',
 1683: 'ISMP',
 1684: 'ISP',
 1685: 'KPI관리',
 1686: 'M&A',
 1687: 'MBO',
 1688: 'OKR',
 1689: 'RFP(제안요청서)',
 1690: 'UI/UX',
 2201: '마케팅',
 2210: '홍보',
 1411: '병원마케팅',
 1449: '검색광고',
 1450: '광고주관리',
 1412: '마케팅기획',
 1413: '마케팅전략',
 1451: '광고캠페인',
 1452: '그로스해킹',
 1414: '블로그마케팅',
 1415: '스포츠마케팅',
 1453: '매체관리',
 1454: '배너광고',
 1416: '인플루언서마케팅',
 1417: '체험마케팅',
 1455: '비딩',
 1418: '행사기획',
 1456: '사보/뉴스레터',
 1457: '사회조사',
 1419: 'SNS마케팅',
 1420: '콘텐츠기획',
 1458: '설문조사',
 1459: '세일즈프로모션',
 1421: '광고마케팅',
 1422: '광고PD',
 1460: '시장조사',
 1461: '언론홍보',
 1423: '글로벌마케팅',
 1424: '기업홍보',
 1462: '옥외광고',
 1463: '이벤트프로모션',
 1425: '디지털마케팅',
 1464: '채널관리',
 1426: '모바일마케팅',
 1427: '미디어플래너',
 1465: '키워드광고',
 1466: '통계/분석',
 1428: '바이럴마케팅',
 1429: '브랜드마케팅',
 1467: '퍼블리시티',
 1468: 'ATL',
 1430: '비즈니스마케팅',
 1431: '오프라인마케팅',
 1469: 'BTL',
 1470: 'IMC',
 1432: '온라인마케팅',
 1433: '제휴마케팅',
 1471: 'MCN',
 1434: '조사원',
 1472: 'MICE',
 1473: 'RFP(제안요청서)',
 1435: '콘텐츠마케팅',
 1436: '콘텐츠에디터',
 1474: 'SEO',
 1437: '퍼포먼스마케팅',
 1438: '프로덕트마케팅',
 1439: 'AD(아트디렉터)',
 1440: 'AE(광고기획자)',
 1441: 'AM(어카운트매니저)',
 1442: 'B2B마케팅',
 1443: 'BM(브랜드매니저)',
 1444: 'CD(크리에이티브디렉터)',
 1445: 'CMO',
 1446: 'CRM마케팅',
 1447: 'CW(카피라이터)',
 1448: 'MW(메디컬라이터)',
 2220: '재무',
 2197: '회계',
 376: '관세법인',
 321: '감사',
 335: '더존',
 377: '세관',
 322: '경리',
 336: '4대보험',
 378: '세무법인',
 323: '경리사무원',
 337: '계산서발행',
 379: '세무사사무실',
 324: '공인회계사',
 338: '관리회계',
 380: '해외법인',
 325: '관세사',
 339: '급여(Payroll)',
 381: '회계법인',
 326: '관세사무원',
 340: '기업회계',
 382: '회계사무실',
 327: '세무사',
 341: '내부감사',
 328: '전산회계',
 342: '법인결산',
 329: '회계사',
 343: '법인세신고',
 330: 'AICPA',
 344: '부가세신고',
 331: 'CFA',
 345: '세무기장',
 332: 'CFO',
 346: '세무신고',
 333: 'IR/공시',
 347: '세무조정',
 334: 'KICPA',
 348: '세무컨설팅',
 349: '세무회계',
 350: '손익관리',
 351: '신고대리',
 352: '연결회계',
 353: '연말정산',
 354: '예산관리',
 355: '외부감사',
 356: '외환관리',
 357: '원가관리',
 358: '원가회계',
 359: '원천세신고',
 360: '자금관리',
 361: '자산관리',
 362: '자산운용',
 363: '자체기장',
 364: '재무기획',
 365: '재무제표',
 366: '재무회계',
 367: '전표입력',
 368: '종합소득세',
 369: '채권관리',
 370: '출납',
 371: '회계결산',
 372: 'ERP',
 373: 'IFRS',
 374: 'IPO',
 375: 'NDR',
 2198: '인사',
 439: '급여(Payroll)',
 430: '노무사',
 431: '채용담당자',
 440: '면접/인터뷰',
 441: '법정의무교육',
 432: '잡매니저',
 433: '직업상담사',
 442: '복리후생',
 434: '헤드헌터',
 443: '실적관리',
 444: '아웃소싱',
 435: 'ER(노무관리)',
 436: 'HR컨설팅',
 445: '온보딩',
 446: '인력관리',
 437: 'HRD',
 438: 'HRM',
 447: '인사교육',
 448: '인사기획',
 449: '인사행정',
 450: '인재발굴',
 451: '임금협상',
 452: '제증명발급',
 453: '조직문화',
 454: '직업훈련',
 455: '채용공고관리',
 456: '채용대행',
 457: '채용설명회',
 458: '파견관리',
 459: '평가/보상',
 2215: '법무',
 399: '교육행정',
 383: '법무사',
 384: '변리사',
 400: '기술사업화',
 401: '내방객응대',
 385: '변호사',
 386: '비서',
 402: '문서작성',
 387: '사내변호사',
 403: '비품관리',
 404: '사내행사',
 388: '사무직',
 389: '서무',
 405: '사무보조',
 406: '사무행정',
 390: '송무비서',
 391: '법률사무원',
 407: '사이트관리',
 408: '상표관리',
 392: '수행기사',
 393: '수행비서',
 409: '서류관리',
 410: '시설관리',
 394: '안내데스크',
 395: '임원비서',
 411: '인/허가',
 396: '총무',
 412: '자료입력',
 413: '자료조사',
 397: '컴플라이언스',
 398: '특허명세사',
 414: '자산관리',
 415: '전산총무',
 416: '전화응대',
 417: '제증명발급',
 418: '콘텐츠관리',
 419: '타이핑',
 420: '특허관리',
 421: '특허분석',
 422: '특허컨설팅',
 423: 'Excel',
 424: 'IP(지식재산권)',
 425: 'OA',
 426: 'PhotoShop',
 427: 'PowerPoint',
 428: '정보처리',
 429: '경영지원',
 2231: '메타버스',
 2234: '스마트컨트랙트',
 2232: '풀스택',
 2230: '헬스케어',
 2229: 'SQA',
 2233: 'Solidity',
 103: '검색엔진',
 184: '.NET',
 80: '게임개발',
 185: '그누보드',
 81: '기술지원',
 104: '네트워크',
 105: '데이터라벨링',
 186: '라즈베리파이',
 82: '데이터분석가',
 83: '데이터엔지니어',
 106: '데이터마이닝',
 187: '쉘스크립트',
 107: '데이터시각화',
 188: '액션스크립트',
 84: '백엔드/서버개발',
 108: '딥러닝',
 189: '어셈블리',
 85: '보안컨설팅',
 190: '와이어샤크',
 86: '앱개발',
 109: '머신러닝',
 110: '모델링',
 191: '파워빌더',
 87: '웹개발',
 192: 'ABAP',
 88: '웹마스터',
 111: '모의해킹',
 112: '미들웨어',
 193: 'AIX',
 89: '유지보수',
 90: '정보보안',
 113: '반응형웹',
 194: 'Ajax',
 114: '방화벽',
 195: 'Android',
 91: '퍼블리셔',
 92: '프론트엔드',
 115: '블록체인',
 196: 'Angular',
 197: 'Apache',
 93: 'CISO',
 116: '빅데이터',
 117: '빌링',
 198: 'ArcGIS',
 94: 'CPO',
 199: 'ASP',
 95: 'DBA',
 118: '솔루션',
 119: '스크립트',
 200: 'ASP.NET',
 96: 'FAE',
 201: 'AWS',
 97: 'GM(게임운영)',
 120: '신경망',
 121: '악성코드',
 202: 'Azure',
 98: 'IT컨설팅',
 99: 'QA/테스터',
 122: '알고리즘',
 203: 'Bootstrap',
 123: '영상처리',
 204: 'C#',
 100: 'SE(시스템엔지니어)',
 124: '웹표준·웹접근성',
 205: 'C++',
 101: 'SI개발',
 206: 'C언어',
 102: 'ICT컨설팅',
 125: '음성인식',
 126: '이미지프로세싱',
 207: 'CentOS',
 208: 'COBOL',
 127: '인프라',
 128: '임베디드',
 209: 'CSS',
 129: '자율주행',
 210: 'CSS3',
 130: '정보통신',
 211: 'Delphi',
 131: '챗봇',
 212: 'Directx',
 213: 'Django',
 132: '취약점진단',
 133: '컴퓨터비전',
 214: 'Docker',
 215: 'Eclipse',
 134: '크로스브라우징',
 135: '크롤링',
 216: 'ECMAScript',
 217: 'ElasticStack',
 136: '클라우드',
 137: '텍스트마이닝',
 218: 'Flask',
 138: '트러블슈팅',
 219: 'FLEX',
 139: '펌웨어',
 220: 'Flutter',
 140: '플러그인',
 221: 'GCP',
 222: 'Git',
 141: '핀테크',
 142: 'API',
 223: 'GoLang',
 224: 'GraphQL',
 143: 'APM',
 144: 'AR(증강현실)',
 225: 'Groovy',
 145: 'DBMS',
 226: 'Gulp',
 146: 'DevOps',
 227: 'Hadoop',
 147: 'DLP',
 228: 'HBase',
 229: 'HTML',
 148: 'DW',
 149: 'ERP',
 230: 'HTML5',
 231: 'IaaS',
 150: 'ETL',
 151: 'FPGA',
 232: 'iBATIS',
 233: 'Ionic',
 152: 'GIS',
 153: 'H/W',
 234: 'iOS',
 154: 'IDC',
 235: 'Java',
 155: 'IIS',
 236: 'Javascript',
 156: 'IoT',
 237: 'Jenkins',
 238: 'JPA',
 157: 'ISMS',
 158: 'MCU',
 239: 'jQuery',
 240: 'JSP',
 159: 'Nginx',
 160: 'NLP(자연어처리)',
 241: 'Kafka',
 161: 'NLU(자연어이해)',
 242: 'Keras',
 162: 'OCR',
 243: 'Kotlin',
 163: 'OLAP',
 244: 'Kubernetes',
 245: 'LabVIEW',
 164: 'RDBMS',
 165: 'RPA',
 246: 'Linux',
 247: 'Logstash',
 166: 'RTOS',
 167: 'S/W',
 248: 'Lucene',
 249: 'MacOS',
 168: 'SAP',
 169: 'SDK',
 250: 'MariaDB',
 170: 'SOA',
 251: 'Matlab',
 171: 'STT',
 252: 'Maven',
 172: 'TTS',
 253: 'MFC',
 254: 'MongoDB',
 173: 'UTM',
 174: 'VDI',
 255: 'MSSQL',
 256: 'MyBatis',
 175: 'VMware',
 176: 'VoIP',
 257: 'MySQL',
 177: 'VPN',
 258: 'Node.js',
 178: 'VR(가상현실)',
 259: 'NoSQL',
 179: 'WCF',
 260: 'Objective-C',
 261: 'OpenCV',
 180: '아키텍쳐',
 181: 'AI(인공지능)',
 262: 'OpenGL',
 263: 'OracleDB',
 182: 'Windows',
 183: '인터페이스',
 264: 'OSS',
 265: 'PaaS',
 266: 'Pandas',
 267: 'Perl',
 268: 'PHP',
 269: 'PL/SQL',
 270: 'PostgreSQL',
 271: 'Pro-C',
 272: 'Python',
 273: 'Pytorch',
 274: 'QGIS',
 275: 'Qt',
 276: 'R',
 277: 'React',
 278: 'React-Native',
 279: 'ReactJS',
 280: 'Redis',
 281: 'Redux',
 282: 'RestAPI',
 283: 'Ruby',
 284: 'SaaS',
 285: 'SAS',
 286: 'Scala',
 287: 'Servlet',
 288: 'Solaris',
 289: 'Spark',
 290: 'Splunk',
 291: 'Spring',
 292: 'SpringBoot',
 293: 'SQL',
 294: 'SQLite',
 295: 'Storm',
 296: 'Struts',
 297: 'SVN',
 298: 'Swift',
 299: 'Sybase',
 300: 'Tensorflow',
 301: 'Tomcat',
 302: 'TypeScript',
 303: 'Ubuntu',
 304: 'Unity',
 305: 'Unix',
 306: 'Unreal',
 307: 'VB.NET',
 308: 'Verilog',
 309: 'Vert.x',
 310: 'VisualBasic',
 311: 'VisualC·C++',
 312: 'Vue.js',
 313: 'WAS',
 314: 'WebGL',
 315: 'Webpack',
 316: 'WebRTC',
 317: 'WPF',
 318: 'XML',
 319: '아두이노',
 320: '임베디드리눅스',
 2222: '인테리어',
 1530: '2D디자인',
 1593: '3DMax',
 1475: '가구디자인',
 1476: '건축디자인',
 1531: '3D디자인',
 1594: '드림위버',
 1477: '게임디자인',
 1532: '가방',
 1595: '라이노',
 1478: '경관디자인',
 1533: '간판',
 1596: '베가스',
 1479: '공간디자인',
 1534: '남성의류',
 1597: '스케치업',
 1480: '공공디자인',
 1535: '니트',
 1598: '애프터이펙트',
 1536: '데님',
 1599: '인디자인',
 1537: '도트/픽셀아트',
 1600: '일러스트',
 1482: '공예디자인',
 1538: '드로잉',
 1601: '지브러쉬',
 1483: '광고디자인',
 1539: '라이팅',
 1602: '코렐드로우',
 1484: '그래픽디자인',
 1540: '렌더링',
 1603: '파이널컷',
 1485: '그림작가',
 1486: '디지털디자인',
 1541: '리플렛',
 1604: '프리미어',
 1542: '만화/웹툰',
 1605: '플래시',
 1487: '로고디자인',
 1488: '모바일디자인',
 1543: '명함',
 1606: 'Blender',
 1544: '모델링',
 1607: 'CAD',
 1489: '무대디자인',
 1490: '문구디자인',
 1545: '모션그래픽',
 1608: 'Cinema4D',
 1546: '보정/리터칭',
 1609: 'Figma',
 1491: '배너디자인',
 1547: '브로슈어',
 1610: 'FLEX',
 1492: '북디자인',
 1493: '브랜드디자인',
 1548: '삽화',
 1611: 'HTML',
 1549: '상세페이지',
 1612: 'Keyshot',
 1494: '산업디자인',
 1495: '섬유디자인',
 1550: '색보정',
 1613: 'Maya',
 1614: 'PhotoShop',
 1551: '샘플링',
 1496: '시각디자인',
 1497: '실내디자인',
 1615: 'QuarkXpress',
 1552: '속옷',
 1616: 'Sketch',
 1553: '스포츠의류',
 1498: '애니메이터',
 1617: 'Substance',
 1554: '신발',
 1499: '앱디자인',
 1618: 'TexPro',
 1555: '썸네일',
 1500: '영상디자인',
 1619: 'Unity',
 1556: '아동복',
 1501: '완구디자인',
 1502: '웹디자인',
 1620: 'Unreal',
 1557: '아트워크',
 1621: 'V-Ray',
 1558: '어셋',
 1503: '의상디자인',
 1504: '일러스트레이터',
 1622: 'XD',
 1559: '여성의류',
 1623: 'Zeplin',
 1560: '옥외광고',
 1505: '자동차디자인',
 1506: '잡화디자인',
 1561: '우븐',
 1562: '원화',
 1507: '전시디자인',
 1563: '이모티콘',
 1508: '정보디자인',
 1564: '인포그래픽',
 1510: '조명디자인',
 1565: '자막',
 1511: '주얼리디자인',
 1566: '작화',
 1512: '캐릭터디자인',
 1567: '잡지',
 1513: '컨셉디자인',
 1568: '제안서',
 1514: '컬러리스트',
 1569: '조형물',
 1515: '콘텐츠디자인',
 1570: '주방용품',
 1571: '채색',
 1516: '패브릭디자인',
 1517: '패키지디자인',
 1572: '카드뉴스',
 1518: '패턴디자인',
 1573: '카탈로그',
 1519: '편집디자인',
 1574: '캘리그라피',
 1520: '폰트디자인',
 1575: '컨셉아트',
 1521: '표지디자인',
 1576: '타이포그래피',
 1522: '프로모션디자인',
 1577: '템플릿',
 1523: '환경디자인',
 1578: '팜플렛',
 1524: 'AD(아트디렉터)',
 1579: '페인팅',
 1525: 'VMD',
 1580: '포스터',
 1526: 'BI디자인',
 1581: '프랍',
 1527: 'BX디자인',
 1582: '피규어',
 1528: 'CI디자인',
 1583: '합성',
 1529: 'UI/UX디자인',
 1584: '현수막',
 1585: '홈패션/홈데코',
 1586: '홍보물',
 1587: 'CG',
 1588: 'DTP',
 1589: 'GUI',
 1590: 'POP',
 1591: 'SIGN',
 1592: 'VFX',
 2203: '영업',
 2208: '영업기획',
 754: 'B2B',
 689: '관세사',
 690: '관세사무원',
 755: 'B2C',
 756: '가맹점관리',
 691: '국제무역사',
 692: '기술영업',
 757: '가맹점영업',
 693: '무역경리',
 758: '거래처관리',
 694: '무역사무원',
 759: '거래처납품',
 695: '무역중개인',
 760: '거래처영업',
 761: '고객관리',
 696: '무역MR',
 697: '보세사',
 762: '공공영업',
 763: '관세환급',
 698: '샵마스터',
 699: '영업관리',
 764: '기업영업',
 700: '영업지원',
 765: '렌탈영업',
 701: '영업직',
 766: '마트영업',
 702: '영업MD',
 767: '매장관리',
 768: '매체영업',
 703: '원산지관리사',
 704: '자동차딜러',
 769: '매출관리',
 770: '무역거래',
 705: '캐셔',
 706: '판매직',
 771: '무역영어',
 772: '바이어발굴/관리',
 707: '포워더',
 708: '가구판매',
 773: '백화점영업',
 709: '가전판매',
 774: '벤더관리',
 710: '건강식품판매',
 775: '부품수출',
 711: '건설영업',
 776: '쇼핑몰관리',
 777: '수/발주',
 712: '광고영업',
 713: '귀금속판매',
 778: '수출입',
 779: '실적관리',
 714: '기계판매',
 715: '네트워크영업',
 780: '아울렛영업',
 716: '방문판매',
 781: '여행사영업',
 717: '부동산영업',
 782: '온라인영업',
 718: '상조영업',
 783: '유통영업',
 784: '장기렌트영업',
 719: '솔루션기술영업',
 720: '시스템영업',
 785: '점포개발',
 786: '정산관리',
 721: '식품/음료영업',
 722: '식품/음료판매',
 787: '주문관리',
 788: '진열관리',
 723: '영업마케팅',
 724: '영업전략',
 789: '통관',
 725: '영업판촉',
 790: '학원영업',
 726: '온라인판매',
 791: '해외영업관리',
 727: '의료기기영업',
 792: '해외영업지원',
 793: '핸드폰영업',
 728: '의류무역',
 729: '의류판매',
 794: '홈쇼핑영업',
 795: 'FTA',
 730: '자동차영업',
 731: '자재판매',
 796: 'H/W',
 732: '잡화판매',
 797: 'LC(신용장)',
 733: '장비영업',
 798: 'S/W',
 734: '정육판매',
 735: '제약영업',
 736: '주류영업',
 737: '주류판매',
 738: '축산물판매',
 739: '컴퓨터판매',
 740: '타이어판매',
 741: '통신기기판매',
 742: '티켓판매',
 743: '항공무역',
 744: '해상무역',
 745: '해외시장개척',
 746: '해외영업',
 747: '핸드폰판매',
 748: '호텔영업',
 749: '화장품영업',
 750: '화장품판매',
 751: 'IT영업',
 752: 'SI영업',
 753: '증권영업',
 1980: '게시판관리',
 1972: '상담원',
 1973: '아웃바운드',
 1981: '고객관리',
 1982: '교육상담',
 1974: '이미지컨설턴트',
 1975: '인바운드',
 1983: '교환/반품',
 1984: '기술상담',
 1976: '텔레마케터',
 1977: 'CS',
 1985: '단순안내',
 1978: 'CX매니저',
 1986: '대출상담',
 1987: '메일상담',
 1979: '섭외TM',
 1988: '민원상담',
 1989: '방문상담',
 1990: '배송상담',
 1991: '상담품질관리',
 1992: '원격상담',
 1993: '전화상담',
 1994: '접수/예약',
 1995: '주문상담',
 1996: '채팅상담',
 1997: '콜센터/고객센터',
 1998: '콜통계/분석',
 1999: '통화품질분석',
 2000: '해지방어',
 2001: '해피콜',
 2002: 'A/S상담',
 2003: 'VOC분석',
 2227: '구매',
 2212: '품질관리',
 1750: '구매관리',
 1764: '3PL운영',
 1751: '물류관리',
 1765: '개발구매',
 1752: '물류사무원',
 1766: '거래처관리',
 1753: '보세사',
 1767: '검품/검수',
 1754: '자재관리',
 1768: '견적관리',
 1755: '재고관리',
 1769: '구매대행/소싱',
 1756: '창고관리',
 1770: '납기관리',
 1757: '포워더',
 1771: '물류자동화',
 1758: '구매기획',
 1772: '배차관리',
 1759: '국제물류',
 1773: '보세구역관리',
 1774: '보세화물관리',
 1760: '물류기획',
 1775: '상하차',
 1761: '유통관리',
 1776: '선적',
 1762: 'SRM',
 1777: '수/발주',
 1763: 'SCM',
 1778: '수급관리',
 1779: '수불관리',
 1780: '양산구매',
 1781: '외자구매',
 1782: '외주관리',
 1783: '원가관리',
 1784: '입고/입하',
 1785: '자재구매',
 1786: '적재/하역',
 1787: '전략구매',
 1788: '정산관리',
 1789: '조달구매',
 1790: '집하/분류',
 1791: '출고/출하',
 1792: '패킹(포장)',
 1793: '피킹(집품)',
 1794: '화물관리',
 1795: 'ERP',
 1796: 'MRO',
 1797: 'WMS',
 1223: '가공식품',
 1212: '기획MD',
 1224: '가구',
 1213: '리테일MD',
 1225: '건강기능식품',
 1214: '바잉MD',
 1215: '브랜드MD',
 1226: '결품관리',
 1227: '구매총괄',
 1216: '슈퍼바이저',
 1217: '영업MD',
 1228: '남성의류',
 1229: '납기관리',
 1218: '오프라인MD',
 1230: '로드샵',
 1219: '온라인MD',
 1231: '리빙',
 1220: '유통MD',
 1232: '매출관리',
 1221: 'AMD',
 1233: '면세점',
 1222: 'VMD',
 1234: '문구',
 1235: '백화점',
 1236: '브랜드관리',
 1237: '브랜드기획',
 1238: '브랜드런칭',
 1239: '브랜드확장',
 1240: '브랜딩',
 1241: '상품관리',
 1242: '상품분석',
 1243: '생활용품',
 1244: '소셜커머스',
 1245: '쇼핑몰',
 1246: '스포츠용품',
 1247: '스포츠의류',
 1248: '시장조사',
 1249: '시판',
 1250: '식품',
 1251: '아동복',
 1252: '아이템선정',
 1253: '여성의류',
 1254: '영캐주얼',
 1255: '오픈마켓',
 1256: '완구',
 1257: '유아용품',
 1258: '이커머스',
 1259: '자사몰관리',
 1260: '전자제품',
 1261: '제작관리',
 1262: '주방',
 1263: '주얼리/액세서리',
 1264: '채널관리',
 1265: '트렌드분석',
 1266: '판매전략',
 1267: '팝업스토어관리',
 1268: '패션브랜드',
 1269: '패션잡화',
 1270: '퍼니싱',
 1271: '편집샵',
 1272: '프로모션기획',
 1273: '홈쇼핑',
 1274: '홈패션/홈데코',
 1275: '화장품',
 1276: '회원분석',
 1277: 'CS관리',
 1278: 'POP',
 1279: 'SNS',
 1280: 'SRM',
 2219: '운전',
 633: '납품운전원',
 662: '1톤',
 678: '덤프트럭',
 634: '대리운전',
 663: '2.5톤',
 679: '로우더',
 635: '라이더(배달원)',
 664: '3.5톤',
 680: '믹서트럭(레미콘)',
 636: '물류기사',
 665: '4.5톤',
 681: '암롤',
 637: '배송기사',
 666: '5톤이상',
 682: '전동지게차',
 638: '버스기사',
 667: '소형화물',
 683: '지게차',
 668: '견인차',
 684: '집게차',
 639: '보세운송',
 640: '사택기사',
 669: '선박',
 685: '컨테이너크레인',
 641: '셔틀버스기사',
 670: '오토바이',
 686: '크레인',
 642: '수행기사',
 671: '윙바디',
 687: '포크레인(굴삭기)',
 643: '승합기사',
 672: '화물차(카고)',
 688: '호이스트',
 644: '조종사',
 673: '탑차',
 645: '지상조업',
 674: '탱크로리',
 675: '트럭',
 646: '차량도우미',
 647: '퀵서비스',
 676: '트레일러',
 648: '탁송기사',
 677: '특수차량',
 649: '택배기사',
 650: '택시기사',
 651: '포워더',
 652: '포장이사',
 653: '육상운송',
 654: '적재/하역',
 655: '지입',
 656: '철도운송',
 657: '통관',
 658: '항공운송',
 659: '해상운송',
 660: '배차관리',
 661: '선적',
 2214: '요리사',
 2207: '청소',
 2216: '영양사',
 2209: '자동차정비',
 2202: '매장관리',
 2228: '파티쉐',
 2235: '시설관리',
 ...}

In [11]:
train

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
0,0,True,True,True,False,False,False,1,4,3,...,2,1608,275,1,4,139,618822,354805,2020-01-17 12:09:36,1
1,1,False,False,False,True,True,False,1,3,4,...,2,1608,275,1,4,133,571659,346213,2020-06-18 17:48:52,0
2,2,False,False,False,True,False,False,2,0,3,...,1,1600,94,1,4,53,399816,206408,2020-07-08 20:00:10,0
3,3,False,False,False,True,False,False,2,0,2,...,2,1608,275,5,3,74,827967,572323,2020-01-13 18:09:34,0
4,4,True,True,True,False,False,False,1,3,4,...,2,1608,275,1,4,74,831614,573899,2020-03-09 20:39:22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501946,501946,False,False,False,True,False,False,1,1,2,...,2,354,147,1,5,65,503156,285850,2020-03-13 12:55:52,1
501947,501947,True,True,False,True,False,False,1,6,2,...,2,163,120,1,4,142,676255,456996,2020-01-20 11:51:51,1
501948,501948,True,True,True,True,False,False,1,7,4,...,2,438,147,2,7,65,484528,293258,2020-08-05 17:27:24,1
501949,501949,True,False,False,True,False,False,1,1,2,...,2,660,147,3,4,259,456330,273797,2020-06-15 09:23:21,1
501950,501950,True,True,True,True,False,False,1,6,3,...,2,786,147,2,5,289,235596,176650,2020-05-25 14:34:48,1

In [26]:
for target in train.columns:
    train[target] = train[target].map(job_dict)

In [21]:
train

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Cinema4D,Qt,NaN,NaN,펌웨어,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Cinema4D,Qt,NaN,NaN,컴퓨터비전,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,일러스트,CPO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Cinema4D,Qt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Cinema4D,Qt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,예산관리,DLP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,OLAP,신경망,NaN,NaN,API,NaN,NaN,NaN,NaN
501948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,HRM,DLP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,배차관리,DLP,NaN,NaN,NoSQL,NaN,NaN,NaN,NaN
501950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,정산관리,DLP,NaN,NaN,Spark,NaN,NaN,NaN,NaN

In [27]:
for target in train.columns:
    print(train[target][:10])

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: id, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: d_l_match_yn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: d_m_match_yn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: d_s_match_yn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: h_l_match_yn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: h_m_match_yn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: h_s_match_yn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_attribute_a, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_attribute_a_1, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_attribute_b, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_prefer_c, dtype: object
0         Qt
1        방화벽
2      도수치료사
3     원산지관리사
4         Qt
5     VMware
6    화물차(카고)
7        ERP
8     프로그램설계
9       제형연구
Name: person_prefer_d_1, dtype: object
0          출납
1    AI(인공지능)
2      VMware
3          캐셔
4          출납
5    AI(인공지능)
6        아키텍쳐
7      Sybase
8        납기관리
9        샵마스터
Name: person_prefer_d_2, dtype: object
0      채권관리
1    VMware
2     제증명발급
3     자동차딜러
4      채권관리
5       방화벽
6     타이어판매
7       DLP
8      객실관리
9      남성의류
Name: person_prefer_d_3, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_prefer_e, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_prefer_f, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_prefer_g, dtype: object
0        NaN
1         챗봇
2        NaN
3        NaN
4     Docker
5        NaN
6        NaN
7    이미지프로세싱
8      트러블슈팅
9       빅데이터
Name: person_prefer_h_1, dtype: object
0         DBA
1        SI개발
2    OracleDB
3      Hadoop
4        CSS3
5      Hadoop
6      Matlab
7         펌웨어
8         NaN
9         인프라
Name: person_prefer_h_2, dtype: object
0        NaN
1        FAE
2        NaN
3        NaN
4        CSS
5        NaN
6    Node.js
7        FAE
8       머신러닝
9        펌웨어
Name: person_prefer_h_3, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_i, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_a, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_j_1, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_j, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_c, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_k, dtype: object
0    Cinema4D
1    Cinema4D
2        일러스트
3    Cinema4D
4    Cinema4D
5    Cinema4D
6        파트강사
7    Cinema4D
8          원무
9     식품/음료판매
Name: contents_attribute_l, dtype: object
0       Qt
1       Qt
2      CPO
3       Qt
4       Qt
5       Qt
6     치기공사
7       Qt
8    플랜트설계
9     남성의류
Name: contents_attribute_d, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_m, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_attribute_e, dtype: object
0      펌웨어
1    컴퓨터비전
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7    컴퓨터비전
8      펌웨어
9      펌웨어
Name: contents_attribute_h, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: person_rn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_rn, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: contents_open_dt, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: target, dtype: object

In [23]:
train = train.dropna(axis=0)

In [24]:
train

Empty DataFrame
Columns: [id, d_l_match_yn, d_m_match_yn, d_s_match_yn, h_l_match_yn, h_m_match_yn, h_s_match_yn, person_attribute_a, person_attribute_a_1, person_attribute_b, person_prefer_c, person_prefer_d_1, person_prefer_d_2, person_prefer_d_3, person_prefer_e, person_prefer_f, person_prefer_g, person_prefer_h_1, person_prefer_h_2, person_prefer_h_3, contents_attribute_i, contents_attribute_a, contents_attribute_j_1, contents_attribute_j, contents_attribute_c, contents_attribute_k, contents_attribute_l, contents_attribute_d, contents_attribute_m, contents_attribute_e, contents_attribute_h, person_rn, contents_rn, contents_open_dt, target]
Index: []

[0 rows x 35 columns]